* {
    padding: 0;
    margin: 0;
    background-color: rgb(153, 230, 39);
}

p {
    margin: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    text-align: justify;
    text-justify: inter-word;
    color: rgb(235, 14, 14);
}

a {
    text-decoration: none;
    color: firebrick;
    font-weight: bold;
}